<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Alterar Pessoa</title>
</head>
<body>
	<div layout:fragment="conteudo">
		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<h2 class="mb-3">Alterar</h2>
			<form th:action="@{/pessoas/alterar}" method="post" th:object="${pessoa}">
				<label for="nome" class="form-label">
					Código:
					<span th:text="*{codigo}"></span>
				</label><br>
				<input type="hidden" name="codigo" th:value="*{codigo}">
				<label for="nome" class="form-label mt-3">Nome</label>
				<input type="text" class="form-control" th:field="*{nome}" placeholder="Digite o nome da pessoa" th:errorclass="is-invalid">
				<span class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:each="erro : ${#fields.errors('nome')}" th:text="${erro} + '. '"></span>

				<label for="cpf" class="form-label mt-3">CPF</label>
				<input type="text" class="form-control" th:field="*{cpf}" placeholder="Digite o CPF da pessoa" th:errorclass="is-invalid">
				<span class="invalid-feedback" th:if="${#fields.hasErrors('cpf')}" th:each="erro : ${#fields.errors('cpf')}" th:text="${erro} + '. '"></span>

				<label for="dataNascimento" class="form-label mt-3">Data de Nascimento</label>
				<input type="text" class="form-control componentedata" th:field="*{dataNascimento}" placeholder="Digite a data de nascimento" th:errorclass="is-invalid">
				<span class="invalid-feedback" th:if="${#fields.hasErrors('dataNascimento')}" th:each="erro : ${#fields.errors('dataNascimento')}" th:text="${erro} + '. '"></span>

				<label for="profissao" class="form-label mt-3">Profissão</label>
				<select class="form-select" id="profissao" name="profissao" th:errorclass="is-invalid">
					<option th:each="p : ${profissoes}" th:value="${p.codigo}" th:text="${p.nome}" th:selected="${p.codigo} == ${pessoa.profissao?.codigo}"></option>
				</select>
				<span class="invalid-feedback" th:if="${#fields.hasErrors('profissao')}" th:each="erro : ${#fields.errors('profissao')}" th:text="${erro} + '. '"></span>

				<button type="submit" class="btn btn-primary mt-3">Alterar</button>
			</form>
		</main>
	</div>
</body>
</html>