<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Pesquisar Pessoa</title>
</head>
<body>
	<div layout:fragment="conteudo">
		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<h2>Pesquisar</h2>
			<form th:action="@{/pessoas/pesquisar}" method="get">

				<div th:fragment="campospesquisapessoa">

					<div class="mb-3">
						<label for="codigo" class="form-label">Código</label>
						<input type="number" class="form-control" name="codigo" id="codigo" placeholder="Digite o código da pessoa">
					</div>
					<div class="mb-3">
						<label for="nome" class="form-label">Nome</label>
						<input type="text" class="form-control" name="nome" id="nome" placeholder="Digite o nome da pessoa">
					</div>
					<div class="mb-3">
						<label for="cpf" class="form-label">CPF</label>
						<input type="text" class="form-control" name="cpf" id="cpf" placeholder="Digite o CPF da pessoa">
					</div>
					<div class="mb-3">
						<label for="dataNascimentoInicial" class="form-label">Data de Nascimento Inicial</label>
						<input type="text" class="form-control componentedata" name="dataNascimentoInicial" id="dataNascimentoInicial" placeholder="Digite a data de nascimento inicial">
					</div>
					<div class="mb-3">
						<label for="dataNascimentoFinal" class="form-label">Data de Nascimento Final</label>
						<input type="text" class="form-control componentedata" name="dataNascimentoFinal" id="dataNascimentoFinal" placeholder="Digite a data de nascimento final">
					</div>
					<div class="mb-3">
						<label for="profissao" class="form-label">Profissao</label>
						<select class="form-select" name="codigoProfissao" id="profissao">
							<option value="" selected="selected">Não selecionada</option>
							<option th:each="p : ${profissoes}" th:value="${p.codigo}" th:text="${p.nome}"></option>
						</select>
					</div>

					<button type="submit" class="btn btn-primary">Pesquisar</button>

				</div>

			</form>
		</main>
	</div>
</body>
</html>