<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- offcanvas sidebar -->
	<div class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" tabindex="-1" id="sidebar" th:fragment="sidebar">
		<div class="offcanvas-body">
			<nav class="navbar-dark">
				<ul class="navbar-nav">
					<li>
						<div class="small fw-bold text-uppercase px-3 mt-3">Opções</div>
					</li>
					<li class="my-2">
						<hr class="dropdown-toggle-split" />
					</li>

					<!-- 1o elemento -->
					<li>
						<a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#aplicacoes">
							<span class="me-2">
								<i class="bi bi-bandaid-fill"></i>
							</span>
							<span>Aplicações</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>   
						
						<div class="collapse" id="aplicacoes" th:classappend=" ${#strings.startsWith(#request.requestURI, '/aplicacoes')} ? show">
							<ul class="navbar-nav ps-3">
								<li>
									<a th:href="@{/aplicacoes/abrircadastrar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-plus-square text-white"></i>
										</span>
										<span class="text-white">Cadastrar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/aplicacoes/abrirpesquisar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-search text-white"></i>
										</span>
										<span class="text-white">Pesquisar</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					
					<!-- 2o elemento -->
					<li>
						<a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#pessoas">
							<span class="me-2">
								<i class="bi bi-person-fill"></i>
							</span>
							<span>Pessoas</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>   
						
						<div class="collapse" id="pessoas" th:classappend=" ${#strings.startsWith(#request.requestURI, '/pessoas')} ? show">
							<ul class="navbar-nav ps-3">
								<li>
									<a th:href="@{/pessoas/cadastrar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-plus-square text-white"></i>
										</span>
										<span class="text-white">Cadastrar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/pessoas/abrirpesquisar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-search text-white"></i>
										</span>
										<span class="text-white">Pesquisar</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<!-- 3o elemento -->
					<li>
						<a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#lotes">
							<span class="me-2">
								<i class="bi bi-box-seam-fill"></i>
							</span>
							<span>Lotes</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>
						<div class="collapse" id="lotes" th:classappend=" ${#strings.startsWith(#request.requestURI, '/lotes')} ? show">
							<ul class="navbar-nav ps-3">
								<li>
									<a th:href="@{/lotes/cadastrar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-plus-square text-white"></i>
										</span>
										<span class="text-white">Cadastrar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/lotes/abrirpesquisar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-search text-white"></i>
										</span>
										<span class="text-white">Pesquisar</span>
									</a>
								</li>
							</ul>
						</div>
					</li>


					<!-- 4o elemento -->
					<li>
						<a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#profissoes">
							<span class="me-2">
								<i class="bi bi-briefcase-fill"></i>
							</span>
							<span>Profissões</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>
						<div class="collapse" id="profissoes" th:classappend=" ${#strings.startsWith(#request.requestURI, '/profissoes')} ? show">
							<ul class="navbar-nav ps-3">
								<li>
									<a th:href="@{/profissoes/cadastrar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-plus-square text-white"></i>
										</span>
										<span class="text-white">Cadastrar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/profissoes/abrirpesquisar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-search text-white"></i>
										</span>
										<span class="text-white">Pesquisar</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					
					<!-- 5o elemento -->
					<li>
						<a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#vacinas">
							<span class="me-2">
								<i class="bi bi-capsule"></i>
							</span>
							<span>Vacinas</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>   
						
						<div class="collapse" id="vacinas" th:classappend=" ${#strings.startsWith(#request.requestURI, '/vacinas')} ? show">
							<ul class="navbar-nav ps-3">
								<li>
									<a th:href="@{/vacinas/cadastrar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-plus-square text-white"></i>
										</span>
										<span class="text-white">Cadastrar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/vacinas/abrirpesquisar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-search text-white"></i>
										</span>
										<span class="text-white">Pesquisar</span>
									</a>
								</li>
								<li>
									<a th:href="@{/relatorios/vacinas}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-file-earmark-arrow-down-fill text-white"></i>
										</span>
										<span class="text-white">Relatório Simples</span>
									</a>
								</li>
								<li>
									<a th:href="@{/relatorios/vacinascompleto}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-file-earmark-arrow-down-fill text-white"></i>
										</span>
										<span class="text-white">Relatório Completo</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					
					<!-- 6o elemento -->
					<li>
						<a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#usuarios">
							<span class="me-2">
								<i class="bi bi-person-fill"></i>
							</span>
							<span>Usuários</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>   
						
						<div class="collapse" id="usuarios" th:classappend=" ${#strings.startsWith(#request.requestURI, '/usuarios')} ? show">
							<ul class="navbar-nav ps-3">
								<li>
									<a th:href="@{/usuarios/cadastrar}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-plus-square text-white"></i>
										</span>
										<span class="text-white">Cadastrar</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

				</ul>
			</nav>
		</div>
	</div>
	<!-- !offcanvas sidebar -->
</body>
</html>