<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Cadastrar Profissão</title>
</head>
<body>
	<div layout:fragment="conteudo">
		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<h2 class="mb-3">Cadastrar</h2>
			<form th:action="@{/profissoes/cadastrar}" method="post" th:object="${profissao}">
				<label for="nome" class="form-label">Nome</label>
				<input type="text" class="form-control" th:field="*{nome}" placeholder="Digite o nome da profissao" th:errorclass="is-invalid">
				<span class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:each="erro : ${#fields.errors('nome')}" th:text="${erro} + '. '"></span>
				<button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
			</form>
		</main>
	</div>
</body>
</html>