<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Cadastro de Aplicação</title>
</head>
<body>
	<div layout:fragment="conteudo">

		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<div class="container-fluid">

				<h2 class="mb-3">Cadastrar Aplicação</h2>

				<form th:action="@{/aplicacoes/abrirescolherpessoa}" method="get">
					<button type="submit" class="btn btn-primary">Escolher Pessoa</button>
				</form>
				<div th:if="${session.aplicacao?.pessoa != null}" class="mt-3">
					<label th:text="'Pessoa: ' + ${session.aplicacao.pessoa.nome}"></label>
				</div>

				<form th:action="@{/aplicacoes/abrirescolherlote}" method="get" class="mt-3">
					<button type="submit" class="btn btn-primary">Escolher Lote</button>
				</form>
				<div th:if="${session.aplicacao?.lote != null}" class="mt-3">
					<p th:text="'Vacina: ' + ${session.aplicacao.lote.vacina.nome}"></p>
					<p th:text="'Validade: ' + ${session.aplicacao.lote.validade}"></p>
					<p th:text="'Nro doses atual: ' + ${session.aplicacao.lote.nroDosesAtual}"></p>
				</div>
			
				<form th:action="@{/aplicacoes/cadastrar}" method="get" class="mt-4">
					<button th:disabled="${session.aplicacao?.lote == null} or ${session.aplicacao?.pessoa == null}" type="submit" class="btn btn-primary">Cadastrar Aplicação</button>
				</form>
			</div>
		</main>
		<!-- !conteudo principal -->

	</div>

</body>
</html>