<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Lotes</title>
</head>
<body>
	<div layout:fragment="conteudo">

		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<div class="container-fluid">

				<!-- area Grande -->
				<div class="row">
					<div class="col-md-12 mb-3">
						<div class="card">
							<div class="card-header">
								<span>
									<i class="bi bi-table me-2"></i>
								</span>
								<span>Lotes</span>
							</div>
							<div class="card-body">
								<table class="table table-striped table-hover table-responsive w-100">
									<thead>
										<tr>
											<div th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'codigo', 'Código', 'col-xs-2')}"></div>
											<div th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'validade', 'Validade', 'col-xs-2')}"></div>
											<th scope="col" class="col-xs-7">Número doses Lote</th>
											<div th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'nroDosesAtual', 'Número doses Atual', 'col-xs-2')}"></div>
											<th scope="col" class="col-xs-7">Vacina</th>
											<th scope="col" colspan="2" class="col-xs-2 text-center">Operações</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="l : ${pagina.conteudo}">
											<td th:text="${l.codigo}"></td>
											<td th:text="${l.validade}"></td>
											<td th:text="${l.nroDosesDoLote}"></td>
											<td th:text="${l.nroDosesAtual}"></td>
											<td th:text="${l.vacina.nome}"></td>
											<td class="text-center">
												<form th:action="@{/aplicacoes/escolherlote}" method="post">
													<input type="hidden" name="codigo" th:value="${l.codigo}">
													<input type="hidden" name="validade" th:value="${#temporals.format(l.validade, 'dd/MM/yyyy')}">
													<input type="hidden" name="nroDosesDoLote" th:value="${l.nroDosesDoLote}">
													<input type="hidden" name="nroDosesAtual" th:value="${l.nroDosesAtual}">
													<input type="hidden" name="vacina.codigo" th:value="${l.vacina.codigo}">
													<input type="hidden" name="vacina.nome" th:value="${l.vacina.nome}">
													<input type="hidden" name="vacina.descricao" th:value="${l.vacina.descricao}">
													<button type="submit" class="btn btn-secondary">Escolher</button>
												</form>
											</td>
										</tr>
									</tbody>
								</table>

								<div th:replace="~{layout/fragments/paginacao :: paginacao(${pagina})}"></div>

							</div>
						</div>
					</div>
				</div>
				<!-- area grande -->

			</div>
		</main>
	</div>
</body>
</html>