<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Cadastrar Lote</title>
</head>
<body>
	<div layout:fragment="conteudo">

		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<div class="container-fluid">

				<form th:action="@{/lotes/cadastrar}" method="post" th:object="${lote}">

					<label for="validade" class="form-label">Validade</label>
					<input type="text" th:field="*{validade}" class="form-control componentedata" th:errorclass="is-invalid">
					<span class="invalid-feedback" th:if="${#fields.hasErrors('validade')}" 
                          th:each="erro : ${#fields.errors('validade')}" th:text="${erro} + '. '"></span>

					<label for="nroDosesDoLote" class="form-label mt-3">Número de doses do Lote</label>
					<input type="number" th:field="*{nroDosesDoLote}" class="form-control" th:errorclass="is-invalid">
					<span class="invalid-feedback" th:if="${#fields.hasErrors('nroDosesDoLote')}" 
                          th:each="erro : ${#fields.errors('nroDosesDoLote')}" th:text="${erro} + '. '"></span>
                          
					<label for="nroDosesAtual" class="form-label mt-3">Número de doses Atual</label>
					<input type="number" th:field="*{nroDosesAtual}" class="form-control" th:errorclass="is-invalid">
					<span class="invalid-feedback" th:if="${#fields.hasErrors('nroDosesAtual')}" 
                          th:each="erro : ${#fields.errors('nroDosesAtual')}" th:text="${erro} + '. '"></span>
                          
					<label for="vacina" class="form-label mt-3">Vacina</label>
					<select id="vacina" name="vacina" class="form-select" th:errorclass="is-invalid">
						<option th:each="v : ${vacinas}" th:value="${v.codigo}" th:text="${v.nome}" th:selected="${v.codigo} == ${lote.vacina?.codigo}"></option>
					</select>
					<span class="invalid-feedback" th:if="${#fields.hasErrors('vacina')}" 
                          th:each="erro : ${#fields.errors('vacina')}" th:text="${erro} + '. '"></span>

					<input type="submit" value="Cadastrar" class="btn btn-primary mt-3">
				</form>

			</div>
		</main>
	</div>

</body>
</html>